<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chloe.mapper.ItemsCommentsMapper">
    <resultMap id="BaseResultMap" type="com.chloe.model.pojo.ItemsComments">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="item_id" property="itemId" jdbcType="VARCHAR"/>
        <result column="item_name" property="itemName" jdbcType="VARCHAR"/>
        <result column="item_spec_id" property="itemSpecId" jdbcType="VARCHAR"/>
        <result column="sepc_name" property="sepcName" jdbcType="VARCHAR"/>
        <result column="comment_level" property="commentLevel" jdbcType="INTEGER"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="CommentsResultMap" type="com.chloe.model.vo.ItemCommentVO">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="commentLevel" property="commentLevel" jdbcType="INTEGER"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="specName" property="specName" jdbcType="VARCHAR"/>
        <result column="userFace" property="userFace" jdbcType="VARCHAR"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="createdTime" property="createdTime"/>
    </resultMap>

    <select id="queryItemComments" resultMap="CommentsResultMap">
        SELECT ic.comment_level AS commentLevel,
        ic.content AS content,
        ic.sepc_name AS specName,
        u.face AS userFace,
        u.nickname AS nickname,
        ic.created_time AS createdTime
        FROM items_comments ic
        LEFT JOIN users u
        ON ic.user_id = u.id
        WHERE ic.item_id = #{itemId}
        <if test="commentLevel != null and commentLevel != ''">
            AND ic.comment_level = #{commentLevel}
        </if>
    </select>
</mapper>