<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tristeza.shardingjdbc.mapper.ShardingAreaMapper">
    <resultMap id="BaseResultMap" type="com.tristeza.shardingjdbc.model.ShardingArea">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>
    <insert id="insertShardingArea" parameterType="com.tristeza.shardingjdbc.model.ShardingArea">
        INSERT INTO area (id, name)
        VALUES (#{id}, #{name});
    </insert>

    <select id="loadAllSharingArea" resultMap="BaseResultMap">
        SELECT *
        FROM area
    </select>
</mapper>